<div class="container-fluid">
  <header class="pt-5">
    <h1>Formation Angular CDA 2023</h1>
    <hr />
  </header>
  <nav class="nav">
    <a class="nav-link" routerLink="/">Accueil</a>
    <a class="nav-link" routerLink="/presentation">Présentation</a>
    <a class="nav-link" routerLink="/todo">Exercice Todo List</a>
    <a class="nav-link" routerLink="/filters">Les filtres</a>
    <a class="nav-link" routerLink="/directives">Les directives</a>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <p class="small text-center">Angular CDA - Dawan FOAD - Mars 2023</p>
  </footer>
</div>
